* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    font-family: 'Lora', serif;
}

#startQuiz-button {}

section.buttons {}

#button0,
#button1,
#button2,
#button3 {
    border: 2px solid black;
}
