* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    font-family: 'Lora', serif;
}

#startQuizButton {
    margin: 0 auto;
    width: 300px;
    height: 150px;
    border-radius: 50px;
    background-color: firebrick;
    color: white;
    font-size: 20px;
}

.quiz {
    text-align: center;
}

.quiz h3 {
    margin: 20px;
    border: 2px grey solid;
    border-radius: 50px;
}

.quiz .input-wrapper {
    margin: 0 auto;
    width: 20%;
    padding: 10px;
    text-align: left;
}

input.answer {
    border: 20px solid black;
    padding: 5px;
}
